<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Transações</title>
</head>
<body>
    <h1>Minhas Transações</h1>
    <table border="1" cellpadding="10">
        <tr>
            <th>Descrição</th>
            <th>Valor (R$)</th>
            <th>Data</th>
            <th>Tipo</th>
            <th>Categoria</th>
            <th>Ações</th>
        </tr>
        {% for transacao in transacoes %}
        <tr>
            <td>{{ transacao.descricao }}</td>
            <td>{{ transacao.valor }}</td>
            <td>{{ transacao.data.strftime('%d/%m/%Y') }}</td>
            <td>{{ transacao.tipo }}</td>
            <td>{{ transacao.categoria }}</td>
            <td>
                <a href="/deletar/{{ transacao.id }}" style="color:red">[Excluir]</a>
                <a href="{{ url_for('editar_transacao', id=transacao.id) }}">Editar</a>
            </td>
        </tr>
        {% endfor %}
    </table>


    <a href="/cadastrar">Voltar para Home</a>
</body>
</html>