<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Transações</title>
</head>
<body>
    <h1>Minhas Transações</h1>
    <ul>
        {% for transacao in transacoes %}
            <li>
                <strong>{{ transacao.nome }}</strong> - R$ {{ transacao.valor }} -
                {{ transacao.data.strftime('%d/%m/%Y') }} - {{ transacao.categoria }}
                <a href="/deletar/{{ transacao.id }}" style="color:red">[Excluir]</a>
            </li>
        {% endfor %}
    </ul>

    <a href="/">Voltar para Home</a>
</body>
</html>