<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
<form action="/tela_login" method="POST">
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" required><br>

  <label for="senha">Senha:</label>
  <input type="text" id="senha" name="senha" required><br>

  <button type="submit">Fazer login</button><br>
  <a href="/registro">Registrar-se</a>
</form>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for msg in messages %}
          <li>{{ msg }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

</body>
</html>