<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
</head>
<body>
    <h1>Registrar-se</h1>

    {% with mensagens = get_flashed_messages(with_categories=true) %}
      {% if mensagens %}
        {% for categoria, msg in mensagens %}
          <div class="alert {{ categoria }}">{{ msg }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

<form action="/registro" method="POST">
  <label for="email">Digite um Email:</label>
  <input type="text" id="email" name="email" required><br>

  <label for="senha">Digite sua Senha:</label>
  <input type="text" id="senha" name="senha" required><br>

  <button type="submit">Registrar</button><br>
  <a href="/tela_login">Voltar para Login</a>
</form>

</body>
</html>